---
import Nav from '../components/nav/Logopy.astro'
---

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<main>
    <Nav mobileBreakPoint="1700px" logoSrc="/wizard.svg" logoHref="/" darkMode translation researchZone links="Home:/ About:/about">
        <div>
            your media
        </div>
    </Nav>
</main>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');
    * {
        font-family: 'Open Sans', sans-serif;
    }
    main {
        height: 125px;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
    }
</style>
