<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Example Docus page</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✨</text></svg>">

    <link rel="stylesheet" href="index.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <div id="research">
        <div id="research-input">

        </div>
        <div id="research-props">

        </div>
    </div>
    <header>
        <div id="logo-box">
            <div id="logo">
                <img src="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2280%22>✨</text></svg>">
            </div>
            <h1>Example Docus page</h1>
        </div>
        <div id="menu-content">
            <ul>
                <li><a href="#">Docs</a></li>
                <li><a href="#">Tutos</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Community</a></li>
            </ul>
            <label class="switch" for="checkbox">
                <input type="checkbox" id="checkbox" />
                <div class="slider round"></div>
            </label>
            <select name="lang" value="en">
                <option value="en">EN</option>
                <option value="fr">FR</option>
                <option value="pl">PL</option>
                <option value="es">ES</option>
            </select>
        </div>
        <div id="menu-buttons">
            <span class="material-symbols-outlined">search</span>
            <div id="menu"></div>
        </div>
    </header>
    <main>
        <aside>
            <div>
                <h2>A Category</h2>
                <h3 data="c1-p1">A Page title</h3>
                <h3 data="c1-p2">A Page title</h3>
                <h3 data="c1-p3">A Page title</h3>
                <h3 data="c1-p4">A Page title</h3>
                <h3 data="c1-p5">A Page title</h3>
                <h3 data="c1-p6">A Page title</h3>

                <h2>A Category</h2>
                <h3 data="c2-p1">A Page title</h3>
                <h3 data="c2-p2">A Page title</h3>
                <h3 data="c2-p3">A Page title</h3>
                <h3 data="c2-p4">A Page title</h3>
                <h3 data="c2-p5">A Page title</h3>
                <h3 data="c2-p6">A Page title</h3>

                <h2>A Category</h2>
                <h3 data="c3-p1">A Page title</h3>
                <h3 data="c3-p2">A Page title</h3>
                <h3 data="c3-p3">A Page title</h3>
                <h3 data="c3-p4">A Page title</h3>
                <h3 data="c3-p5">A Page title</h3>
                <h3 data="c3-p6">A Page title</h3>

                <h2>A Category</h2>
                <h3 data="c4-p1">A Page title</h3>
                <h3 data="c4-p2">A Page title</h3>
                <h3 data="c4-p3">A Page title</h3>
                <h3 data="c4-p4">A Page title</h3>
                <h3 data="c4-p5">A Page title</h3>
                <h3 data="c4-p6">A Page title</h3>

                <span></span>
            </div>
        </aside>
        <article id="c1-p1">
            <div>
                <!--Title-->
                <h2>A Page title</h2>

                <!--Paragraph accept markdown highlights-->
                <p>Lorem ipsum dolor, sit <a href="amet consectetur">amet consectetur</a> adipisicing elit. Doloremque pariatur sit beatae quaerat, consequuntur officia quibusdam totam repellendus deleniti enim accusamus error nobis, unde neque. <a href="youtube.com" target="_blank">Ullam a veniam</a> at odit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi eveniet corrupti, inventore itaque totam exercitationem quibusdam adipisci? iusto corporis autem laborum voluptatem assumenda odit <a href="#">Voluptas nulla</a>, cum modi.</p>                

                <h3>A List example</h3>

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque pariatur sit beatae quaerat, consequuntur officia quibusdam totam repellendus deleniti enim accusamus error nobis, unde neque. Ullam a veniam at odit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi eveniet corrupti, inventore itaque totam exercitationem quibusdam adipisci? Voluptas nulla iusto corporis autem laborum voluptatem assumenda odit quis magni, cum modi.</p>   
                
                <img src="https://picsum.photos/1000/300">

                <!--List-->
                <ul>
                    <li>A list element</li>
                    <li>A list element</li>
                    <li>A list element</li>
                    <li>A list element</li>
                    <li>A list element</li>
                    <ul>
                        <li>A list element</li>
                        <li>A list element</li>
                        <li>A list element</li>
                    </ul>
                </ul>

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque pariatur sit beatae quaerat, consequuntur officia quibusdam totam repellendus deleniti enim accusamus error nobis, unde neque. Ullam a veniam at odit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi eveniet corrupti, inventore itaque totam exercitationem quibusdam adipisci? Voluptas nulla iusto corporis autem laborum voluptatem assumenda odit quis magni, cum modi.</p>    

                <!--Numeric list-->
                <ol>
                    <li>A list element</li>
                    <li>A list element</li>
                    <li>A list element</li>
                    <li>A list element</li>
                    <ol>
                        <li>A list element</li>
                        <li>A list element</li>
                        <li>A list element</li>
                    </ol>
                </ol>

                <h3>Some notes examples</h3>

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque pariatur sit beatae quaerat, consequuntur officia quibusdam totam repellendus deleniti enim accusamus error nobis, unde neque. Ullam a veniam at odit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi eveniet corrupti, inventore itaque totam exercitationem quibusdam adipisci? Voluptas nulla iusto corporis autem laborum voluptatem assumenda odit quis magni, cum modi.</p>    

                <img src="https://picsum.photos/1700/300">

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque pariatur sit beatae quaerat, consequuntur officia quibusdam totam repellendus deleniti enim accusamus error nobis, unde neque. Ullam a veniam at odit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi eveniet corrupti, inventore itaque totam exercitationem quibusdam adipisci? Voluptas nulla iusto corporis autem laborum voluptatem assumenda odit quis magni, cum modi.</p>  

                <!--Blockquote-->
                <blockquote class="bq-warn">
                    <div><span class="material-symbols-outlined">warning</span><h3>Highlight name</h3></div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis rerum numquam velit laudantium vero voluptas. Cumque, dolorum tenetur, vitae deserunt sed inventore iste necessitatibus distinctio iusto quisquam deleniti facilis modi?</p>
                </blockquote>

                <blockquote class="bq-warn">
                    <div><span class="material-symbols-outlined">warning</span><h3>Highlight name</h3></div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis rerum numquam velit laudantium vero voluptas. Cumque, dolorum tenetur, vitae deserunt sed inventore iste necessitatibus distinctio iusto quisquam deleniti facilis modi?</p>
                    <ul>
                        <li>A list element</li>
                        <li>A list element</li>
                        <li>A list element</li>
                        <li>A list element</li>
                    </ul>
                </blockquote>

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque pariatur sit beatae quaerat, consequuntur officia quibusdam totam repellendus deleniti enim accusamus error nobis, unde neque. Ullam a veniam at odit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi eveniet corrupti, inventore itaque totam exercitationem quibusdam adipisci? Voluptas nulla iusto corporis autem laborum voluptatem assumenda odit quis magni, cum modi.</p>    

                <ol>
                    <li>A list element</li>
                    <li>A list element</li>
                    <li>A list element</li>
                    <li>A list element</li>
                    <ol>
                        <li>A list element</li>
                        <li>A list element</li>
                        <li>A list element</li>
                    </ol>
                </ol>

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque pariatur sit beatae quaerat, consequuntur officia quibusdam totam repellendus deleniti enim accusamus error nobis, unde neque. Ullam a veniam at odit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi eveniet corrupti, inventore itaque totam exercitationem quibusdam adipisci? Voluptas nulla iusto corporis autem laborum voluptatem assumenda odit quis magni, cum modi.</p>    

                <blockquote class="bq-error">
                    <div><span class="material-symbols-outlined">error</span><h3>Highlight name</h3></div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis rerum numquam velit laudantium vero voluptas. Cumque, dolorum tenetur, vitae deserunt sed inventore iste necessitatibus distinctio iusto quisquam deleniti facilis modi?</p>
                </blockquote>

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque pariatur sit beatae quaerat, consequuntur officia quibusdam totam repellendus deleniti enim accusamus error nobis, unde neque. Ullam a veniam at odit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi eveniet corrupti, inventore itaque totam exercitationem quibusdam adipisci? Voluptas nulla iusto corporis autem laborum voluptatem assumenda odit quis magni, cum modi.</p>    

                <blockquote class="bq-new_releases">
                    <div><span class="material-symbols-outlined">new_releases</span><h3>Highlight name</h3></div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis rerum numquam velit laudantium vero voluptas. Cumque, dolorum tenetur, vitae deserunt sed inventore iste necessitatibus distinctio iusto quisquam deleniti facilis modi?</p>
                </blockquote>

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque pariatur sit beatae quaerat, consequuntur officia quibusdam totam repellendus deleniti enim accusamus error nobis, unde neque. Ullam a veniam at odit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi eveniet corrupti, inventore itaque totam exercitationem quibusdam adipisci? Voluptas nulla iusto corporis autem laborum voluptatem assumenda odit quis magni, cum modi.</p>    

                <blockquote class="bq-info">
                    <div><span class="material-symbols-outlined">info</span><h3>Highlight name</h3></div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis rerum numquam velit laudantium vero voluptas. Cumque, dolorum tenetur, vitae deserunt sed inventore iste necessitatibus distinctio iusto quisquam deleniti facilis modi?</p>
                </blockquote>

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque pariatur sit beatae quaerat, consequuntur officia quibusdam totam repellendus deleniti enim accusamus error nobis, unde neque. Ullam a veniam at odit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi eveniet corrupti, inventore itaque totam exercitationem quibusdam adipisci? Voluptas nulla iusto corporis autem laborum voluptatem assumenda odit quis magni, cum modi.</p>    

                <blockquote class="bq-help">
                    <div><span class="material-symbols-outlined">help</span><h3>Highlight name</h3></div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis rerum numquam velit laudantium vero voluptas. Cumque, dolorum tenetur, vitae deserunt sed inventore iste necessitatibus distinctio iusto quisquam deleniti facilis modi?</p>
                </blockquote>

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque pariatur sit beatae quaerat, consequuntur officia quibusdam totam repellendus deleniti enim accusamus error nobis, unde neque. Ullam a veniam at odit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi eveniet corrupti, inventore itaque totam exercitationem quibusdam adipisci? Voluptas nulla iusto corporis autem laborum voluptatem assumenda odit quis magni, cum modi.</p>    

                <blockquote class="bq-tips_and_updates">
                    <div><span class="material-symbols-outlined">tips_and_updates</span><h3>Highlight name</h3></div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis rerum numquam velit laudantium vero voluptas. Cumque, dolorum tenetur, vitae deserunt sed inventore iste necessitatibus distinctio iusto quisquam deleniti facilis modi?</p>
                </blockquote>

                <h3>Some code</h3>

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque pariatur sit beatae quaerat, consequuntur officia quibusdam totam repellendus deleniti enim accusamus error nobis, unde neque. Ullam a veniam at odit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi eveniet corrupti, inventore itaque totam exercitationem quibusdam adipisci? Voluptas nulla iusto corporis autem laborum voluptatem assumenda odit quis magni, cum modi.</p> 

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque pariatur sit beatae quaerat, consequuntur officia quibusdam totam repellendus deleniti enim accusamus error nobis, unde neque. Ullam a veniam at odit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi eveniet corrupti, inventore itaque totam exercitationem quibusdam adipisci? Voluptas nulla iusto corporis autem laborum voluptatem assumenda odit quis magni, cum modi.</p> 

                <!--Code-->
                <div class="code">
                    <span class="material-symbols-outlined">content_copy</span>
                    <span>CPP</span>
                    <div>
                        <pre><span>#include &#60;iostream></span>
<span>using namespace std;</span>
<span></span>
<span>int main () {</span>
<span>      cout &#60;&#60; "Hello World!";</span>
<span>      return 0;</span>
<span>}</span></pre>
                    </div>
                </div>

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque pariatur sit beatae quaerat, consequuntur officia quibusdam totam repellendus deleniti enim accusamus error nobis, unde neque. Ullam a veniam at odit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi eveniet corrupti, inventore itaque totam exercitationem quibusdam adipisci? Voluptas nulla iusto corporis autem laborum voluptatem assumenda odit quis magni, cum modi.</p>
            </div>
        </article>
        <aside id="ref">
            <h2>On this page</h2>
            <div>
                <ul> 
                    <li>A list example</li>
                    <li>Some notes examples</li>
                    <li>Some code</li>
                    <li>A list example</li>
                    <li>Some notes examples</li>
                    <li>Some code</li>
                    <li>A list example</li>
                    <li>Some notes examples</li>
                    <li>Some code</li>
                    <li>A list example</li>
                    <li>Some notes examples</li>
                    <li>Some code</li>
                    <li>A list example</li>
                    <li>Some notes examples</li>
                    <li>Some code</li>
                    <li>A list example</li>
                    <li>Some notes examples</li>
                    <li>Some code</li>
                    <li>A list example</li>
                    <li>Some notes examples</li>
                    <li>Some code</li>
                    <li>A list example</li>
                    <li>Some notes examples</li>
                    <li>Some code</li>
                    <li>A list example</li>
                </ul>
            </div>
            <footer>
                <a href="https://github.com" target="_blank"><img src="https://cdn.icon-icons.com/icons2/2368/PNG/512/github_logo_icon_143772.png"></a>
                <a href="https://github.com" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/2048px-Facebook_f_logo_%282019%29.svg.png"></a>
                <a href="https://github.com" target="_blank"><img src="https://www.houseofpinata.com/wp-content/uploads/2021/05/free-youtube-logo-icon-2431-thumb-1.png"></a>
            </footer>
        </aside>
    </main>
</body>
</html>
